<?xml version='1.0' encoding='utf-8'?>
<plugin id="anteia.cordova.plugin" version="2.4" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>AnteiaCordovaPlugin</name>
    <js-module name="AnteiaCordovaPlugin" src="www/AnteiaCordovaPlugin.js">
        <clobbers target="cordova.plugins.AnteiaCordovaPlugin" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AnteiaCordovaPlugin">
                <param name="android-package" value="anteia.cordova.plugin.AnteiaCordovaPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/AnteiaCordovaPlugin.java" target-dir="src/anteia/cordova/plugin/AnteiaCordovaPlugin" />
        <framework custom="true" src="src/android/deps.gradle" type="gradleReference" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="AnteiaCordovaPlugin">
                <param name="ios-package" value="AnteiaCordovaPlugin" />
            </feature>
        </config-file>
        <source-file src="src/ios/AnteiaCordovaPlugin.m" />
    </platform>
</plugin>